body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


.navbar-inverse {
    background-color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: #412D5E;
 }

.navbar-inverse .navbar-brand {
    color: #412D5E;
}
.navbar-brand {
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 16px;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #FFB612;
}
.navbar-inverse .navbar-brand:hover {
    color: #FFB612;
}
span.gold {
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 22px;
    color: #FFB612;
}

.full-width {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
}

.mytags {
    display: inline-block;
}
@media only screen and (max-width: 767px) {

    .professionalpicture {
        max-width: 50%;
        height: 75px;
    }
}