@{
    ViewBag.Title = "About Us";
}
@{ 
    ViewBag.Message = "Our Story";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>In 1999, three longtime friends came up with an idea. They envisioned a different kind of consulting firm – one that allowed them, and their employees, to get more out of life and make a better impact on others.</p>
