@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Alex Kempen<br />
    <abbr title="Phone"><strong>P:</strong></abbr>
    740.398.0107
    <strong>Email:</strong>   <a href="mailto:ak353914@ohio.edu">ak353914@ohio.edu</a><br />
</address>

<address>
    Brett Scherzer<br />
    <abbr title="Phone"><strong>P:</strong></abbr>
    440.520.5484
    <strong>Email:</strong>   <a href="mailto:bs609016@ohio.edu">bs609016@ohio.edu</a><br />
</address>

<address>
    Jake Worm<br />
    <abbr title="Phone"><strong>P:</strong></abbr>
    614.315.5037
    <strong>Email:</strong>   <a href="mailto:jw414515@ohio.edu">jw414515@ohio.edu</a><br />
</address>

<address>
    John Kosloski<br />
    <abbr title="Phone"><strong>P:</strong></abbr>
    440.265.8030
    <strong>Email:</strong>   <a href="mailto:jk651914@ohio.edu">jk651914@ohio.edu</a><br />
</address>

<address>
    Levi Triplett<br />
    <abbr title="Phone"><strong>P:</strong></abbr>
    254.226.5300
    <strong>Email:</strong>   <a href="mailto:lt904311@ohio.edu">lt904311@ohio.edu</a><br />
</address>

<address>
    Stephanie Kasunick<br />
    <abbr title="Phone"><strong>P:</strong></abbr>
    440.339.4352
    <strong>Email:</strong>   <a href="mailto:sk611715@ohio.edu">sk611715@ohio.edu</a><br />
</address>
