@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jake Worm<br />
    <abbr title="Phone">P:</abbr>
    614.315.5037
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:jw414515@ohio.edu">Support@example.com</a><br />
</address>