@{
    ViewBag.Title = "Home Page";
}

<!--<div class="jumbotron">
    <h1>Centric</h1>
    <p class="lead">Digital, business and technology consulting to transform your business</p>
    <p><a href="https://centricconsulting.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>-->
    <img src="https://cdn.discordapp.com/attachments/645093166252294144/692991016768110632/thottshomework2.png" height="545" width="800" z-index="0" class="full-width" position="relative">
    <div class="row">
        <div class="col-md-4">
            <h2>Recognize An Employee</h2>
            <p>
                Together we evolve and transform your business from the people to the processes.
            </p>
            <br />
            <p><a class="btn btn-default" href="https://centricconsulting.com/business-consulting/">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Check Out The Leaderboard</h2>
            <p>Together we plan, build and deliver technology to solve your business challenges.</p>
            <p><a class="btn btn-default" href="https://centricconsulting.com/technology-solutions/">Learn more &raquo;</a></p>
        </div>
        <!--<div class="col-md-4">
        <h2>Digital</h2>
        <p>Together we define your digital strategy, design your customer experience and make marketing work.</p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/digital-consulting-services/">Learn more &raquo;</a></p>
    </div> -->
        <div class="col-md-4">
            <a class="twitter-timeline" data-width="300" data-height="350" data-theme="light" href="https://twitter.com/centric?ref_src=twsrc%5Etfw">Tweets by centric</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        </div>
