@{
    ViewBag.Title = "Home Page";
}

    <img src="https://images.unsplash.com/photo-1523287562758-66c7fc58967f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" height="475" width="100%" z-index ="0" class="center" position="absolute">

<!--<div class="jumbotron">
    <h1>Centric</h1>
    <p class="lead">Digital, business and technology consulting to transform your business</p>
    <p><a href="https://centricconsulting.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>-->

<div class="row">
    <div class="col-md-4">
        <h2>Recognize An Employee</h2>
        <p>
            Together we evolve and transform your business from the people to the processes.
        </p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/business-consulting/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check Out The Leaderboard</h2>
        <p>Together we plan, build and deliver technology to solve your business challenges.</p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/technology-solutions/">Learn more &raquo;</a></p>
    </div>
    <!--<div class="col-md-4">
        <h2>Digital</h2>
        <p>Together we define your digital strategy, design your customer experience and make marketing work.</p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/digital-consulting-services/">Learn more &raquo;</a></p>
    </div> -->
</div>