@{
    ViewBag.Title = "Home Page";
}

<!--<div class="jumbotron">
    <h1>Centric</h1>
    <p class="lead">Digital, business and technology consulting to transform your business</p>
    <p><a href="https://centricconsulting.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>-->
    <img src="https://cdn.discordapp.com/attachments/645093166252294144/692991016768110632/thottshomework2.png" height="545" width="800" z-index="0" class="full-width" position="relative">
    <div class="row">
        <div class="col-md-4">
            <a class="twitter-timeline" data-width="300" data-height="350" data-theme="light" href="https://twitter.com/centric?ref_src=twsrc%5Etfw">Tweets by centric</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        </div>
