
@{
    ViewBag.Title = "NotAuthenticated";
}

<br />
<br />

<div class="alert alert-danger">

    <h2>Not Allowed</h2>

    You are not authenticated to edit this user's details.

</div>

<br />

@Html.ActionLink("Return to home", "index", "home")

